extends layout 
block content
        
        div(id="gamepage")
            h2(class="playername") Player Name
            span(id="pieces-container")

            h3 Amount
            button(id="oneBtn" type="button" class="btn btn-outline-success" onclick="takePiece(1);") 1
            button(id="twoBtn" type="button" class="btn btn-outline-primary" onclick="takePiece(2);") 2
            button(id="threeBtn" type="button" class="btn btn-outline-danger" onclick="takePiece(3);") 3

        //d-none = to hide win/loss screen
        div(id="end-modal")
            h2(class="playername") Player Name Wins!!!
            button(type="button" class="btn btn-outline-success") Play Again
            button(type="button" class="btn btn-outline-success") Home

        script(src="/js/game.js")