extends layout 
block content
        div(class="gamepage center")
            div(class="row")
                div(class="col")
            //Alternativelly do =playername or something
            h2(class="playername center-block") Player Name
            span(id="pieces")
                p Pieces Here
                //Fill this container with <21> pieces

            h3 Amount
            button(type="button" class="btn btn-outline-success") 1
            button(type="button" class="btn btn-outline-primary") 2
            button(type="button" class="btn btn-outline-danger") 3

        //d-none = to hide win/loss screen
        div(class="d-none")
            h2(class="playername") Player Name Wins!!!
            button(type="button" class="btn btn-outline-success") Play Again
            button(type="button" class="btn btn-outline-success") Home