extends layout 
block content
        link(href="/css/game.css" rel='stylesheet')
        
        div(id="gamepage")
            h2(class="playername") Player Name
            span(id="pieces")

            h3 Amount
            button(type="button" class="btn btn-outline-success") 1
            button(type="button" class="btn btn-outline-primary") 2
            button(type="button" class="btn btn-outline-danger") 3

        //d-none = to hide win/loss screen
        div(class="d-none")
            h2(class="playername") Player Name Wins!!!
            button(type="button" class="btn btn-outline-success") Play Again
            button(type="button" class="btn btn-outline-success") Home

        script(src="/js/game.js")