extends layout
block content

    h1(class="text-center") Overview 
    p(class="text-center p-5") Nim is a mathematical game of strategy in which two players take turns removing (or "nimming") objects from distinct heaps or piles. On each turn, a player must remove at least one object, and may remove any number of objects provided they all come from the same heap or pile.
    
    h1(class="text-center") Help Page
    
    //- These  2 containers will create 2 separate tables to hold info on the home page and the game page. 
    h2(class="text-center") Game Settings
    div(class="container table-striped text-center")
        div(class="row col-md-auto")
            div(class="col") 
                img(src="./images/HelpPagePlay.png" alt="Help Page Play" class='img-fluid')
            div(class="col") To begin playing a game simply press "Play Game"
        
        div(class="row col-md-auto")
            div(class="col") There will be 2 buttons to choose from to decide if you want to play against a friend or try your hand against our Nim computer. Directly under from there you can choose what the win condition will be. Will you try your hand at Classic Nim where the person to pick up the last piece loses, or will you end the game by picking up the last piece yourself and win?
            div(class="col")
                img(src="./images/GameSettings.png" alt="Game Settings" class='img-fluid')

        
        div(class="row col-md-auto")
            div(class="col")
                img(src="./images/OptionalComputer.png" alt="Optional Computer Settings" class='img-fluid')
            div(class="col") If you choose to play against a computer you will be given the option to decide how strong you want the computer to play.
        
        div(class="row col-md-auto")
            div(class="col") After you press continue you will offered a chance to enter your name so that way we can keep track of your glorious victory.
            div(class="col") 
                img(src="./images/NameSelection.png" alt="Name Selection Screen" class='img-fluid')


        div(class="row col-md-auto")
            div(class="col") 
                img(src="./images/GameBeginScreen.png" alt="Begining of Game Screen" class='img-fluid')
            div(class="col") After you press "Play" the game will begin. 


    h2(class="text-center") How To Play

    div(class="container table-striped text-center overflow-scroll")

        div(class="row col-md-auto")
            div(class="col") Nim begins with 21 pieces on the board. Above those pieces will be the indicator letting you know who's turn it is.
            div(class="col") 
                img(src="./images/TurnIndicator.png" alt="Arrows For Whose Turn Indicator" class='img-fluid')
        
        div(class="row col-md-auto")
            div(class="col") 
                img(src="./images/AmandaTurn.png" alt="Player 2 Taking Their Turn" class='img-fluid')
            div(class="col") To play Nim you just have to remove between 1-3 pieces from the pile on your turn. How you win is determined before the game starts.
        
        div(class="row col-md-auto")
            div(class="col") The numbers below "Amount" allow you to choose between taking 1 to 3 pieces from the stack. Be warned however that there is not a submit button for these options. So when you click on them, you will take those pieces immediately.
            div(class="col") 
                img(src="./images/Pieces.png" alt="Where the Piece Selection Is Located" class='img-fluid')
        
        div(class="row col-md-auto")
            div(class="col") 
                img(src="./images/PlayAgain.png" alt="Game Over Screen" class='img-fluid')
            div(class="col") When you finish you will be given the option to "Play Again" or to go "Home".
