extends layout
block content
    H1 Help Page

    div(class="container")

        div(class="row col-md-auto")
            div(class="col") Images Col
            div(class="col") Help Text Col

        div(class="row col-md-auto")
            div(class="col") Img 1.
            div(class="col") (help text)

        div(class="row col-md-auto")
            div(class="col") Img 2.

            div(class="col")  (help text)

        div(class="row col-md-auto")
            div(class="col") Img 3. 

            div(class="col")  (help text)

        div(class="row col-md-auto")
            div(class="col") Img 4.
            div(class="col")  (help text)

