extends layout
block content

    H1 Overview 
    p Nim is a mathematical game of strategy in which two players take turns removing (or "nimming") objects from distinct heaps or piles. On each turn, a player must remove at least one object, and may remove any number of objects provided they all come from the same heap or pile.
    H1 Help Page

    div(class="container table-striped")

        div(class="row col-md-auto")
            div(class="col") Images Col
            div(class="col") Help Text Col

        div(class="row col-md-auto")
            div(class="col") Img 1.
            div(class="col") (help text)

        div(class="row col-md-auto")
            div(class="col") Img 2.

            div(class="col")  (help text)

        div(class="row col-md-auto")
            div(class="col") Img 3. 

            div(class="col")  (help text)

        div(class="row col-md-auto")
            div(class="col") Img 4.
            div(class="col")  (help text)

