doctype
html
    head
        link(href="/css/bootstrap.css" rel='stylesheet')
        link(href='/css/style.css' rel='stylesheet')
        script(src="/js/bootstrap.js")
        title=title
    body
        header  


        nav
            nav(class="navbar navbar-expand-lg navbar-light bg-light")
                div(class="collapse navbar-collapse" id="navbarSupportedContent")

                    ul(class="navbar-nav mr-auto ")
                        li(class="nav-item active")
                            a(class="nav-link" href="/") 
                                img(src="./images/logo.PNG" class="img-fluid img-thumbnail w-25 h-25")

                        li(class="nav-item active ")
                            a(class="nav-link" href="/") Home 

                        li(class="nav-item active")
                            a(class="nav-link" href="/play") Game

                        li(class="nav-item active")
                            a(class="nav-link" href="/help") Help

        section
            block content

        footer(class="bg-light text-center text-lg-start fixed-bottom")

            div(class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);") © 2021 Copyright:
                a(class="text-dark" href="https://www.neumont.edu/")   Team Nine B (the best ever)
