doctype
html
    head
        link(href='style.css' rel='stylesheet')
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        title=title
    body
        header  
            P LOOOOOOOOOOOOOOOGGGGGGGGGGOOOOOOOOOOOOOOOOOO
        nav
            div(class="collapse navbar-collapse" id="myNavbar")
            ul(class="nav navbar-nav")
                li(class="active")
                    a(href="#") Home
                li(class="active")
                    a(href="#") Play
                li(class="active")
                    a(href="#") Game
            


        section
            block content


        footer 
