doctype
html
  head
    link(href='style.css' rel='stylesheet')
    title=title
  body
    header  
        P this is the header
      nav this is the nav bar
        

    section
      block content
      

    footer 
      