doctype
html
    head
        link(href='style.css' rel='stylesheet')
        link(href="/css/bootstrap.css" rel='stylesheet')
        script(src="/js/bootstrap.js")
        title=title
    body
        header  
            P LOOOOOOOOOOOOOOOGGGGGGGGGGOOOOOOOOOOOOOOOOOO
        nav
            div(class="collapse navbar-collapse" id="myNavbar")
            ul(class="nav navbar-nav")
                li(class="active")
                    a(href="#") Home
                li(class="active")
                    a(href="#") Play
                li(class="active")
                    a(href="#") Game
            


        section
            block content
 

        footer 
