/* ------------------------------------------------------Layout------------------------------------------------------------------------------ */





/* ------------------------------------------------------HomePage------------------------------------------------------------------------------ */

/* #dangerButton .btn-outline-danger:active, .btn-outline-danger.active{
    color: #fff !important;
    background-color: #dc3545 !important;
} */

/* .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
} */




/* ------------------------------------------------------GamePage------------------------------------------------------------------------------ */





/* ------------------------------------------------------HelpPage------------------------------------------------------------------------------ */
